@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Rubik+Iso&display=swap");
/* @import 'node_modules/locomotive-scroll/dist/locomotive-scroll'; */

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
